root=true

[*]
charset=utf-8
end_of_line=lf
indent_size=2
indent_style=space
insert_final_newline=true
trim_trailing_whitespace=true

[*.md]
trim_trailing_whitespace=false

[*.{pub,txt}]
indent_size=unset
insert_final_newline=false

[{LICENSES/**,LICENSE,secrets/**}]
charset=unset
end_of_line=unset
indent_size=unset
indent_style=unset
# XXX: <https://github.com/biomejs/biome/issues/5065>
# insert_final_newline=unset
trim_trailing_whitespace=unset
